﻿@model WebApplication.Models.Item

@{
    ViewData["Title"] = "AddFoodItem";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <script src="~/js/Navbar.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/AddGrocery.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script src="~/js/addGroceryAlert.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div>
            <div class="addGrocery">
                Add Food Item
                <i class="fas fa-hamburger" style='font-size:50px; padding-left:10px;'></i>
            </div>
            <div style="font-size: 40px; font-weight: bold; color: springgreen; text-align: center;">
                @TempData["Success"]
            </div>
            <div>
                <form method="post" asp-route-id='@TempData["StoreID"]' asp-action="AddFoodItem">
                    <fieldset>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input id="groceryName" asp-for="Name" class="form-control displayWidth" required />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label">Price ($)</label>
                            <input id="groceryPrice" asp-for="Price" class="form-control displayWidth" required />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Dietary" class="control-label"></label>
                            <input id="groceryDietary" asp-for="Dietary" class="form-control displayWidth"  />
                            <span asp-validation-for="Dietary" class="text-danger"></span>
                        </div>
                        <input asp-for="Category" type="hidden" value="Food" />
                        <input asp-for="Status" type="hidden" value="Available" />

                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


