﻿@model WebApplication.Models.Store

@{
    ViewData["Title"] = "AddStore";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <script src="~/js/Navbar.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/AddStore.css" />
    <script src="~/js/addGroceryAlert.js"></script>
</head>

<body>
    <div class="container-fluid">
        <div>
            <div class="addStore">
                Add Store
                <i class="fa fa-cutlery" style='font-size:50px; padding-left:10px;'></i>
                <a href="~/Admin/ViewStores" class="edit"><u>View Food Stores</u></a>
            </div>
            <div style="font-size: 40px; font-weight: bold; color: springgreen; text-align: center;">
                @TempData["Success"]
            </div>
            <div>
                <form method="post" asp-action="AddStore">
                    <fieldset>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label class="control-label">Store Name</label>
                            <input id="storeName" asp-for="StoreName" class="form-control displayWidth" required />
                            <span asp-validation-for="StoreName" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label class="control-label">Area</label>
                            <input id="storeArea" asp-for="Area" class="form-control displayWidth" required />
                            <span asp-validation-for="Area" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label"></label>
                            <input id="storeAddress" asp-for="Address" class="form-control displayWidth" required />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Add" class="btn btn-primary" onclick="storeAlert()" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

