﻿@model WebApplication.Models.Staff

@{
    ViewData["Title"] = "AdminEditVolunteer";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="~/css/AdminEditVolunteer.css" />
</head>

<body>
    <div class="container-fluid">
        <div>
            <div class="viewProfile">
                Edit @Html.Display("Name")'s Profile
                <i class='fa fa-user-circle' style='font-size:50px; padding-left:10px;'></i>
                <a asp-action="ViewVolunteerList" asp-controller="Admin" class="edit"><u>View Volunteer List</u></a>
            </div>
            <div>
                <form asp-action="AdminEditVolunteer">
                    <fieldset>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="Role" class="control-label"></label>
                            <input asp-for="Role" class="form-control displayWidth" />
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ID" class="control-label"></label>
                            <input asp-for="ID" class="form-control displayWidth" />
                            <span asp-validation-for="ID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control displayWidth" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailAddr" class="control-label"></label>
                            <input asp-for="EmailAddr" class="form-control displayWidth" />
                            <span asp-validation-for="EmailAddr" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DOB" class="control-label"></label>
                            <input asp-for="DOB" class="form-control displayWidth" />
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNum" class="control-label"></label>
                            <input asp-for="PhoneNum" class="form-control displayWidth" />
                            <span asp-validation-for="PhoneNum" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Gender" class="control-label"></label>
                            <input asp-for="Gender" class="form-control displayWidth" />
                            <span asp-validation-for="Gender" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control displayWidth" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>


