﻿@model WebApplication.Models.Item

@{
    ViewData["Title"] = "EditGrocery";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/EditGrocery.css" />
    <script src="~/js/Navbar.js" defer></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div class="container-fluid">
        <div>
            <div>
                <div class="editGrocery">
                    Edit Grocery
                    <i class='fas fa-edit' style='font-size:50px; padding-left:10px;'></i>
                    <i class="fa fa-cart-plus" style='font-size:50px; padding-left:10px;'></i>
                    <a asp-action="AddGrocery" asp-controller="Admin" class="edit"><u>Add Grocery</u></a>
                </div>
            </div>
            <div>
                <form method="post" asp-action="UpdateGroceryItem">
                    <fieldset>
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="ItemID" class="control-label"></label>
                            <input asp-for="ItemID" class="form-control displayWidth" readonly/>
                            <span asp-validation-for="ItemID" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control displayWidth" readonly/>
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Status" class="control-label"></label>
                            <select asp-for="Status"
                                    asp-items="@ViewData["options"]
                                            as List<SelectListItem>"
                                    class="form-control displayWidth">
                            </select>
                            <span asp-validation-for="Status" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Price" class="control-label"></label>
                            <input asp-for="Price" class="form-control displayWidth" />
                            <span asp-validation-for="Price" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Dietary" class="control-label"></label>
                            <input asp-for="Dietary" class="form-control displayWidth" />
                            <span asp-validation-for="Dietary" class="text-danger"></span>
                        </div>
                        <input asp-for="Category" value="Grocery" hidden/>
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>
    </div>
</body>
</html>