﻿@{
    ViewData["Title"] = "Index";
}

<html>
    <head>
        <!-- Use Unicode character encoding - multi-language compatibity -->
        <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
        <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="HandheldFriendly" content="true">
        <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
        <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
        <script src="~/js/Navbar.js" defer></script>
        <link rel="stylesheet" href="~/css/adminIndex.css" />
    </head>
    <body>
        <div style="padding-top: 30px;">
            <fieldset>
                <div class="row styleDiv" style="padding: 0 0 20px 0;">
                    <div class="col-sm-12 styleDiv" style="padding-top: 20px;">
                        @{
                            string greetingTime;
                            if (DateTime.Now.ToString("tt") == "AM")
                            {
                                greetingTime = "Good Morning!";
                            }
                            else
                            {
                                greetingTime = "Good Afternoon!";
                            }
                        }
                        <h1 style="font-weight: bold;">@greetingTime Have a great day ahead!</h1>
                    </div>
                </div>
                <div class="img-fluid" style="text-align: center; padding: 0 0 40px 0;">
                    <img src="~/images/administrator.gif" class="imgsize" />
                </div>
            </fieldset>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-sm-6" style="font-family: 'Quicksand', sans-serif; align-content: center; text-align: center">
                <h2><a href="~/Admin/ViewVolunteerList" style="color:black;" class="styleButton">View Volunteers</a></h2>
            </div>
            <div class="col-sm-6" style="font-family: 'Quicksand', sans-serif; align-content: center; text-align: center">
                <h2><a href="~/Admin/ViewCustomerList" style="color:black;" class="styleButton">View Customers</a></h2>
            </div>
        </div>
        <div class="row" style="margin-top: 30px">
            <div class="col-sm-6" style="font-family: 'Quicksand', sans-serif; align-content: center; text-align: center">
                <h2><a href="~/Admin/ViewGrocery" style="color:black;" class="styleButton">View Grocery</a></h2>
            </div>
            <div class="col-sm-6" style="font-family: 'Quicksand', sans-serif; align-content: center; text-align: center">
                <h2><a href="~/Admin/ViewStores" style="color:black;" class="styleButton">View Food Stores</a></h2>
            </div>
        </div>
    </body>
</html>
