﻿@model IEnumerable<WebApplication.Models.Item>
@{
    ViewData["Title"] = "FoodStoreItems";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/FoodStoreItems.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <div class="row styleDiv" style="padding: 20px 0 20px 0;">
        <div class="col-sm-12 styleDiv">
            <h1>@TempData["StoreName"]</h1>
        </div>
    </div>
    <div class="jumbotron" style="background-color: pink; padding: 0px;">
        <div class="row col-sm-12" style="font-size: 25px;">
            <div class="container-fluid">
                <table class="table" style="text-align: center;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.ItemID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            Price ($)
                        </th>
                        <th>
                            Dietary Restrictions
                        </th>
                        <th></th>
                        <th></th>
                    </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status != "Deleted")
                            {
                        <tr>
                            <td>
                                @item.ItemID
                            </td>
                            <td>
                                @item.Name
                            </td>
                            <td>
                                @item.Status
                            </td>
                            <td>
                                @item.Price
                            </td>
                            <td>
                                @item.Dietary
                            </td>
                            <td>
                                <a class="btn btn-success" asp-route-id="@item.ItemID" asp-action="EditFoodItem">Edit</a>
                            </td>
                            <td>
                                <a class="btn btn-danger" asp-route-itemid="@item.ItemID" asp-action="DeleteFoodItem">Delete</a>
                            </td>
                        </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-info" asp-controller="Admin" asp-action="ViewStores">Back To Stores</a>
        </div>
        <div class="col-sm-6" style="text-align: right;">
            <a class="btn btn-danger" asp-route-id='@TempData["StoreID"]' asp-controller="Admin" asp-action="AddFoodItem">Add Food Item</a>
        </div>
    </div>

</body>
</html>
