﻿@model IEnumerable<WebApplication.Models.Item>
@{
    ViewData["Title"] = "ViewGrocery";
}
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="~/css/orderGrocery.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="row styleDiv" style="padding: 20px 0 40px 0;">
        <div class="col-sm-12 styleDiv">
            <h2 style="font-weight: bold;">View Groceries</h2>
        </div>
    </div>
    <div class="jumbotron" style="background-color: pink; padding: 0px;">
        <div class="row col-sm-12" style="font-size: 25px;">
            <div class="container-fluid">
                <table class="table" style="text-align: center;">
                    <tr>
                        <th>ItemID</th>
                        <th>Product Name</th>
                        <th>Price ($)</th>
                        <th>Status</th>
                        <th></th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        if(item.Status != "Deleted")
                        {
                            <tbody>
                                <tr>
                                    <td>@item.ItemID</td>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    @if (item.Status == "Available")
                                    {
                                        <td style="color: forestgreen">
                                            @item.Status
                                        </td>
                                    }
                                    else
                                    {
                                        <td style="color: red">
                                            @item.Status
                                        </td>
                                    }
                                    <td>
                                        <a class="btn btn-success" asp-route-id="@item.ItemID" asp-action="EditGrocery">Edit</a>
                                    </td>
                                    <td>
                                        <a class="btn btn-danger" asp-route-itemid="@item.ItemID" asp-action="DeleteGroceryItem">Delete</a>
                                    </td>
                                </tr>
                        </tbody>
                        }
                        
                    }
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            <a class="btn btn-info" asp-controller="Admin" asp-action="Index">Back To Home</a>
        </div>
        <div class="col-sm-6" style="text-align: right;">
            <a class="btn btn-danger" asp-controller="Admin" asp-action="AddGrocery">Add an item</a>
        </div>
    </div>
</body>
</html>
