﻿<nav class="navbar navbar-expand-xl navbar-dark navbar-custom" style=" background-color: pink">
    <a style="font-size: 20px !important; color:black;" class="navbar-brand" href="~/Customer/Index">
        B-United SG
        <img src="~/images/B-United SG Logo.png" id="resizeImg" height="50" width="50" class="d-inline-block align-top" alt="" loading="lazy" style="position: absolute; top: 5%; margin-left: 5px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon button-color"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a style="font-size: 20px; color:black; padding-right:20px;" class="nav-link" href="~/Customer/Index">Home<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a style="font-size: 20px; color:black; padding-right:20px;" class="nav-link" href="~/Home/SpaceOut">Crowd Checking<span class="sr-only"></span></a>
            </li>
            <li class="nav-item dropdown">
                <a style="font-size: 20px; color:black; padding-right:25px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    View
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="~/Customer/ViewProfile">Profile</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="~/Cart/ViewCart">Cart</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a style="font-size: 20px; color:black; padding-right:25px;" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Order
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="~/Food/FoodStores">Food</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="~/Grocery/ViewGrocery">Grocery</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="~/Customer/OrderStatus">Status</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="~/Customer/OrderHistory">History</a>
                </div>
            </li>
            <li class="nav-item">
                <a style="font-size: 20px; color:black;" class="nav-link" href="~/Home/LogOut" tabindex="-1">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
