﻿<nav class="navbar navbar-expand-lg navbar-dark navbar-custom" style=" background-color: pink">
    <a style="font-size: 20px !important; color:black;" class="navbar-brand" href="~/Home/Index">
        B-United SG
        <img src="~/images/B-United SG Logo.png" id="resizeImg" height="50" width="50" class="d-inline-block align-top" alt="" loading="lazy" style="position: absolute; top: 5%; margin-left: 5px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon button-color"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a style="font-size: 20px; color:black;" class="nav-link" href="~/Home/AboutUs">About B-United SG<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a style="font-size: 20px; color:black;" class="nav-link" href="~/Home/SpaceOut">Crowd Checking</a>
            </li>
            <li class="nav-item">
                <a style="font-size: 20px; color:black;" class="nav-link" href="~/Home/Feedback">Feedback</a>
            </li>
            <li class="nav-item">
                <a style="font-size: 20px; color:black;" class="nav-link" href="~/Home/Index" tabindex="-1">Login</a>
            </li>
        </ul>
    </div>
</nav>
