﻿
<nav class="navbar navbar-expand-xl navbar-dark navbar-custom" style=" background-color: pink">
    <a style="font-size: 20px !important; color:black;" class="navbar-brand" href="~/Volunteer/Index">
        B-United SG
        <img src="~/images/B-United SG Logo.png" id="resizeImg" height="50" width="50" class="d-inline-block align-top" alt="" loading="lazy" style="position: absolute; top: 5%; margin-left: 5px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon button-color"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a style="font-size: 20px; color:black; padding-right:20px;" class="nav-link" href="~/Volunteer/ViewProfile">View Profile<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a style="font-size: 20px; color:black; padding-right:20px;" class="nav-link" href="~/Volunteer/Index">View Jobs<span class="sr-only"></span></a>
            </li>
            @*
            <li class="nav-item">
                <a style="font-size: 20px; color:white; padding-right:20px;" class="nav-link" href="~/Customer/BookAirTicket">Book Air Tickets<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a style="font-size: 20px; color:white; padding-right:20px;" class="nav-link" href="~/Customer/ViewBookings">View Tickets Booked<span class="sr-only"></span></a>
            </li>
            @*<li class="nav-item">
                    <a style="font-size: 20px; color:white; padding-right:25px;" class="nav-link" href="~/Home/AboutUs">About<span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a style="font-size: 20px; color:white; padding-right:25px;" class="nav-link" href="~/Home/Feedback">Feedback</a>
                </li>*@
            <li class="nav-item">
                <a style="font-size: 20px; color:black;" class="nav-link" href="~/Home/LogOut" tabindex="-1">Log Out</a>
            </li>
        </ul>
    </div>
</nav>
