﻿@{
    ViewData["Title"] = "Checkout";
    ViewData["TotalPrice"] = Model.TotalPrice;
}
@model WebApplication.Models._ViewCheckOut


<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/GroceryCheckOut.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <script>
        function displayCreditCardInfo() {
            if (document.getElementById("creditCardInfo").style.display = "none") {
                document.getElementById("creditCardInfo").style.display = "block";
            }
        }

        function hideCreditCardInfo() {
            if (document.getElementById("creditCardInfo").style.display = "block") {
                document.getElementById("creditCardInfo").style.display = "none";
            }
        }
    </script>
</head>
<body>
    <div class="row styleDiv">
        <div class="col-sm-12 styleDiv divMargin">
            <h2>Order Summary</h2>
        </div>
    </div>
    <div style=" background-color: pink; padding-left:20px; border-radius:10px;">
        <div style="font-size: 25px;">
            <table class="table table-borderless">
                <tr>
                    <th><u>Item</u></th>
                    <th><u>Quantity</u></th>
                    <th><u>Price</u></th>
                </tr>
                <tbody>
                    @foreach (var item in Model.CartList)
                    {
                        foreach (var temp in Model.ItemList)
                        {
                            if (temp.ItemID == item.ItemID)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => temp.Name)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.qty)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => temp.Price)
                                    </td>
                                </tr>
                            }
                        }

                    }
                </tbody>
            </table>
            <hr class="new4" />
        </div>
        <div class="row" style="font-size: 25px;">
            <div class="col-sm-9" style="text-align: left; padding-left: 25px;">
                <p>Subtotal: </p>
            </div>
            <div class="col-sm-3" style="text-align: center; padding-right: 45px;">
                <p>$@Model.TotalPrice</p>
            </div>
        </div>
        @*<div class="row" style="font-size: 25px;">
                <div class="col-sm-9" style="text-align: left; padding-left: 25px;">
                    <p>Delivery Fees: </p>
                </div>
                <div class="col-sm-3" style="text-align: left; padding-left: 10px;">
                    <p>$1.65</p>
                </div>
            </div>*@
    </div>
    <div class="row styleDiv">
        <div class="col-sm-12 styleDiv divMargin">
            <h2>Deliver to</h2>
        </div>
    </div>
    <div>
        <div style=" background-color: pink; padding-left:20px; border-radius:10px; margin: 0px;">
            <div class="row" style="font-size: 25px; padding: 20px 20px 10px 20px;">
                <div class="col-sm-9" style="padding:0 !important;">
                    <p>239 Bukit Panjang Ring Road</p>
                    <p>Unit No. #01-23, Floor 1 (No Notes to volunteer added)</p>
                </div>
                <div class="col-sm-3">
                    <p style="padding: 25px 0 0 0; color: black;"><a href="~/Customer/Edit"><u>Edit</u></a></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row styleDiv">
        <div class="col-sm-12 styleDiv divMargin">
            <h2>Payment Details</h2>
        </div>
    </div>
    <div style=" background-color: pink; border-radius:10px; margin:0px; ">
        <div class="row" style="font-size: 25px; margin: 0px; padding: 15px 15px 15px 10px;">
            <form style="padding:10px;">
                <input type="radio" id="cash" name="paymentMethod" value="cash" checked onclick="hideCreditCardInfo()">
                <label class="radioLabel" for="cash">Cash</label><i class="fas fa-money-bill"></i><br>
                <input type="radio" id="creditCard" name="paymentMethod" value="creditCard" onclick="displayCreditCardInfo()">
                <label class="radioLabel" for="creditCard">Credit Card</label><i class="far fa-credit-card"></i><br>
                <div id="creditCardInfo" style="display:none;">
                    <hr />
                    <div class='card-wrapper' style="float:left !important"></div>
                    <br/> <br /><br /><br /><br /><br />
                    <label class="creditLabel">Name on card:</label><input type="text" name="name" />
                    <label class="creditLabel">Card Number:</label><input type="text" name="number">
                    <label class="creditLabel">Expiry Date:</label><input type="text" name="expiry" />
                    <label class="creditLabel">CVC:</label><input type="text" name="cvc" />
                </div>
            </form>
        </div>
    </div>
    <hr class="new4" />
    <div class="row" style="font-size: 25px;">
        <div class="col-sm-9" style="text-align: left; padding-left: 25px;">
            <p>Total: </p>
        </div>
        <div class="col-sm-3" style="text-align: left; padding-left: 10px;">
            <p>$@Model.TotalPrice</p>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-sm-12">
            <a asp-action="PlaceOrder" asp-controller="Order" type="button" style="width:100%; text-align:center; justify-content:center; padding:10px" class="btn btn-success">Place Order</a>
        </div>
    </div>
    <script src="~/js/card.js"></script>
    <script>

        var card = new Card({
            form: 'form',
            container: '.card-wrapper',

            placeholders: {
                number: '**** **** **** ****',
                name: 'Tan Liang Brighton',
                expiry: '**/**',
                cvc: '***'
            }
        });
    </script>
    <script>
        var card = new Card({
            // a selector or DOM element for the form where users will
            // be entering their information
            form: 'form', // *required*
            // a selector or DOM element for the container
            // where you want the card to appear
            container: '.card-wrapper', // *required*

            formSelectors: {
                numberInput: 'input#number', // optional — default input[name="number"]
                expiryInput: 'input#expiry', // optional — default input[name="expiry"]
                cvcInput: 'input#cvc', // optional — default input[name="cvc"]
                nameInput: 'input#name' // optional - defaults input[name="name"]
            },

            width: 200, // optional — default 350px
            formatting: true, // optional - default true

            // Strings for translation - optional
            messages: {
                validDate: 'valid\ndate', // optional - default 'valid\nthru'
                monthYear: 'mm/yyyy', // optional - default 'month/year'
            },

            // Default placeholders for rendered fields - optional
            placeholders: {
                number: '•••• •••• •••• ••••',
                name: 'Full Name',
                expiry: '••/••',
                cvc: '•••'
            },

            masks: {
                cardNumber: '•' // optional - mask card number
            },

            // if true, will log helpful messages for setting up Card
            debug: false // optional - default false
        });
    </script>
</body>
</html>