﻿
@{
    ViewData["Title"] = "Success";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
</head>
<body>
    <div class="row" style="text-align:center; padding:20px; justify-content:center;">
        <div class="col-sm-12">
            <p style="font-family: 'Quicksand', sans-serif; font-weight: bold; font-size:30px;">Your order has been placed successfully! &#9989;</p>
            <br />
            <p style="font-family: 'Quicksand', sans-serif; font-weight: bold; font-size:30px;">Please wait for your delivery! &#x1F604;</p>
            <br /><br />
            <a href="~/Customer/Index"><p style="font-family: 'Quicksand', sans-serif; font-size:20px;">Return to Home Page</p></a>
            <a href="~/Customer/OrderStatus"><p style="font-family: 'Quicksand', sans-serif; font-size:20px;">View Order Status</p></a>
        </div>
    </div>
</body>
</html>