﻿@model WebApplication.Models.Staff

@{
    ViewData["Title"] = "CreateStaff";
}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
    <link rel="stylesheet" type="text/css" href="~/css/VolunteerReg.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js"></script>
    <link rel="stylesheet" href="~/css/Create.css" />
    <script src="~/js/validateDOBVolunteer.js" defer></script>

</head>

<body>
    <div class="container-fluid">
        <div class="row createprofile">
            <p>Volunteer Registration</p>
        </div>
        <div class="row home">
            <p>Home/Volunteer Registration</p>
        </div>

        <div class="row formdiv">
            <div class="col-sm-7 nopad" style="font-family: 'Quicksand', sans-serif">
                <div>
                    <form method="post" action="~/Volunteer/Create" class="formcss">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" required />
                        <br />
                        <span style="color:red" asp-validation-for="Name"></span>


                        <br /><br />
                        <label asp-for="EmailAddr"></label>
                        <input asp-for="EmailAddr" required />
                        <br />
                        <span style="color:red" asp-validation-for="EmailAddr"></span>

                        <br /><br />
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password" required />
                        <br />


                        <br /><br />
                        <label asp-for="PhoneNum"></label>
                        <input asp-for="PhoneNum" required />
                        <br />
                        <span style="color:red" asp-validation-for="PhoneNum"></span>


                        <br /><br />
                        <label asp-for="DOB"></label>
                        <input asp-for="DOB" max='2012-01-01T22:22:55' required />
                        <br />

                        <br /><br />
                        <div class="controls">
                            <label asp-for="Gender"></label>
                            <label class="radio-inline" asp-for="Gender">
                                <input type="radio" asp-for="Gender" name="gender" id="male" value="M" required />
                                Male
                            </label>
                            <label class="radio-inline" asp-for="Gender">
                                <input type="radio" asp-for="Gender" name="gender" id="female" value="F" required />
                                Female
                            </label>
                        </div>

                        <input type="hidden" name="Role" value="Volunteer" />
                        <br />
                        <input type="submit" class="submitButton" value="Create" />
                    </form>
                </div>
            </div>
            <div class="col-sm-5">
                <div>
                    <img class="img-fluid imglogo" src="~/images/B-United SG Logo.png" />
                </div>
            </div>
        </div>
    </div>
</body>


