﻿
@{
    ViewData["Title"] = "Index";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="~/css/ElderlyIndex.css" />
    <link rel="stylesheet" href="~/css/VolunteerIndex.css" />
</head>
<body>
    @*<div class="row" style="padding: 10px 0 20px 0;">
        <div class="col-sm-12" style="padding: 10px 0 0 0;">
            <a type="button" class="styleButton" value="Account" asp-action="" asp-controller="">Account</a>
        </div>
    </div>*@
    <div class="row styleDiv" style="padding: 20px 0 40px 0;">
        <div class="col-sm-12 styleDiv">
            <h2>Welcome @Context.Session.GetString("Name")</h2>
            <h2>What would you like to do today?</h2>
        </div>
    </div>
    <div class="row styleDiv">
        <div class="col-sm-6">
            <a href="~/Volunteer/AvailableJobs">
                <div class="roundborder">
                    <img src="~/images/jobHunting.gif" class="gifSize" />
                    <p class="fontquick fontsize" style="color:black;"><b>View Available Jobs</b></p>
                </div>
            </a>
        </div>
        <div class="col-sm-6">
            <a href="~/Volunteer/ViewAcceptedJobs">
                <div class="roundborder">
                    <img src="~/images/jobChecking.gif" class="gifSize" />
                    <p class="fontquick fontsize" style="color:black;"><b>View Accepted Jobs</b></p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>