﻿@model WebApplication.Models._ViewAllJobs
@{
    ViewData["Title"] = "AvailableJobs";
}
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="~/css/AvailableJobs.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script>
        function myFunction() {
            window.alert("Order marked as completed. Click OK to return to home page.")
        }
    </script>
</head>
<body>
    <div class="row styleDiv" style="padding: 0 0 30px 0;">
        <div class="col-sm-12 styleDiv">
            <h2 style="font-weight: bold;">View Accepted Jobs</h2>
            <h2>Start working now!</h2>
        </div>
    </div>
    <h1>Jobs</h1>
    <div class="jumbotron" style="background-color: pink; padding: 0px;">
        <div class="row col-sm-12" style="font-size: 25px;">
            <div class="container-fluid">
                <table class="table" style="text-align: center;">
                    <tr>
                        <th>Name</th>
                        <th>Items</th>
                        <th>Location</th>
                        <th>Price ($)</th>
                        <th>Date</th>
                    </tr>
                    @foreach (var orderData in Model.OrderList)
                    {
                        foreach (var customer in Model.CustomerList)
                        {
                            if (customer.ID == orderData.CustomerID)
                            {
                                <tbody>
                                    <tr>
                                        <td>@customer.Name</td>
                                        <td>
                                            <ul>
                                                @foreach (var orderItem in Model.OrderItemList)
                                                {
                                                    if (orderItem.CustomerID == orderData.OrderID)
                                                    {
                                                        foreach (var items in Model.ItemList)
                                                        {
                                                            if (items.ItemID == orderItem.ItemID)
                                                            {
                                                                <li>@items.Name x @orderItem.qty</li>
                                                                break;
                                                            }
                                                        }
                                                    }
                                                }
                                            </ul>
                                        </td>
                                        <td>@customer.Address </td>
                                        <td>@orderData.TotalCost</td>
                                        <td>@orderData.OrderCreated</td>
                                        <td><a type="button" class="addButton" asp-action="CompleteJob" asp-route-id="@orderData.OrderID" onclick="myFunction()">Completed &#10004</a></td>
                                    </tr>
                                </tbody>
                                break;
                            }
                        }

                    }
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            <a class="btn btn-danger" asp-controller="Volunteer" asp-action="Index">Back To Home</a>
        </div>
    </div>
</body>
</html>