﻿@model IEnumerable<WebApplication.Models.Item>
@{
    ViewData["Title"] = "FoodStoreItems";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/FoodStoreItems.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <div class="row styleDiv" style="padding: 20px 0 20px 0;">
        <div class="col-sm-12 styleDiv">
            <h1>@TempData["StoreName"]</h1>
        </div>
    </div>
    <div class="jumbotron" style="background-color: pink; padding: 0px;">
        <div class="row col-sm-12" style="font-size: 25px;">
            <div class="container-fluid">
                <table class="table" style="text-align: center;">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.Name)
                        </th>
                        <th>
                            Price ($)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Status)
                        </th>
                        <th>
                            Dietary Restrictions
                        </th>
                        <th></th>
                    </tr>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            if (item.Status != "Deleted")
                            {
                                <tr>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Price
                                    </td>
                                    @if (item.Status == "Available")
                                    {
                                     <td style="color: forestgreen">
                                        @item.Status
                                    </td>
                                    }
                                    else
                                    {
                                    <td style="color: red">
                                        @item.Status
                                    </td>
                                    }
                                    <td>
                                        @item.Dietary
                                    </td>
                                    <td>
                                        <form asp-action="FoodStoreItems" method="post">
                                            <div class="input-group">
                                                <input type="text" hidden name="ItemID" value="@item.ItemID" class="form-control" aria-describedby="basic-addon1" />
                                            </div>
                                            <div class="input-group">
                                                <input type="number" name="QTY" id="qty_@item.ItemID" placeholder="Enter quantity" class="form-control" aria-describedby="basic-addon1" min="1" required />
                                            </div>
                                            <div class="input-group" style="margin-top:5px">
                                                <input type="submit" value="Add to food cart" class="form-control btn btn-danger" aria-describedby="basic-addon1" onclick="addcart('#qty_@item.ItemID')" />
                                            </div>
                                        </form>
                                    </td>
                                </tr>
                            }

                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-danger" asp-controller="Food" asp-action="FoodStores">Back To Stores</a>
        </div>
        <div class="col-sm-6" style="text-align: right;">
            <a class="btn btn-danger" asp-controller="Cart" asp-action="ViewCart">View Cart</a>
        </div>
    </div>

</body>
</html>
<script type="text/javascript">
    function addcart(id) {
        if ($(id).val() == 0) {
            alert("Please enter the qty");
        }
        else {
            alert("Item added to cart successfully!");
        }
        
    }
</script>