﻿@model IEnumerable<WebApplication.Models.Store>
@{
    ViewData["Title"] = "FoodStores";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/FoodStores.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <div class="row styleDiv" style="padding: 20px 0 40px 0;">
        <div class="col-sm-12 styleDiv">
            <h2 style="font-weight: bold;">Select a food store</h2>
            <h2>Order your food from these available food stores!</h2>
        </div>
    </div>
    <div class="row" style="padding-bottom: 20px;">
        <div class="col-sm-12">
            <input style="width: 100%; padding:10px;" type="text" placeholder="Looking for something? e.g. starbucks" id="myStore" onkeyup="myFunction()" />
        </div>
    </div>
    <ul style="padding: 0px;" id="myUL">
        @{int i = 1;}
        @foreach (var item in Model)
        {
            <li><a asp-route-id="@item.ID" type="button" asp-action="FoodStoreItems" asp-controller="Food" name="StoreID" style="font-weight: bold;" id="myLI">@item.StoreName <p style="font-size: 15px !important">Location: @item.Area</p></a></li>
            i++;
        }
    </ul>
    <a class="btn btn-danger" href="~/Customer/Index">Back to home</a>
        <script>
            function myFunction() {
                // Declare variables
                var input, filter, ul, li, a, i, txtValue;
                input = document.getElementById('myStore');
                filter = input.value.toUpperCase();
                ul = document.getElementById("myUL");
                li = ul.getElementsByTagName('li');

                // Loop through all list items, and hide those who don't match the search query
                for (i = 0; i < li.length; i++) {
                    a = li[i].getElementsByTagName("a")[0];
                    txtValue = a.textContent || a.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        li[i].style.display = "";
                        ul.style.padding = "0px";
                        li[i].style.margin = "10px";
                    } else {
                        li[i].style.display = "none";
                        ul.style.backgroundColor = "none";
                        ul.style.padding = "0";
                    }
                }
            }
        </script>
    </body>
</html>


