﻿<head>
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" href="~/css/AboutUs.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
</head>

<body>
    <div class="container-fluid">
        <div class="img-fluid">
            <img class="responsive" src="~/images/aboutus.png"/>
            <div class="centered"><p class="paraAbout" id="titleAbout">About Us</p></div>
        </div>
        <div class="row">
            <p class="paracss">
            B-United SG is a platform that connects volunteers with the elderly who need help in getting food and provisions, 
            to reduce their risk of infection in this pandemic. It is a non-profit platform that exists to solve the logistics issues
            which prevent those willing to volunteer their time and effort from helping those in need.
            </p>
        </div>
    </div>
</body>