﻿
<head>
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <link rel="stylesheet" type="text/css" href="~/css/feedbackform.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/validateFeedbackForm.js"></script>
    <script src="~/js/Navbar.js" defer></script>
</head>

<body onresize="navResize()">
    <div class="container-fluid">
        <div class="row textrow">
            <h1><b>Feedback</b></h1><br />
        </div>
        <div class="row textrow" style="margin-top: -10px;">
            <p>
                Do you have any feedback or suggestions? All you have to do is select the type of feedback, <br />
                then complete the form.
            </p>
        </div>
        <div class="row formborder">
            <div class="col-sm-6" style="font-family: 'Quicksand', sans-serif">
                <div>
                    <form method="post" name="feedbackForm">
                        <fieldset style="padding:20px;">
                            <h3 style="padding: 10px 0 0 0">Type of feedback</h3>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="compliment">
                                <label class="form-check-label" for="inlineRadio1">Compliment</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="suggestion">
                                <label class="form-check-label" for="inlineRadio2">Suggestion</label>
                            </div>
                            <div class="form-check form-check-inline">
                                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="feedback">
                                <label class="form-check-label" for="inlineRadio3">Feedback</label>
                            </div>
                            <br /><br />
                            <div>
                                <label style="font-size: 24px;"><b>Tell us more*</b></label>
                                <textarea name="tellUsMore" class="form-control" rows="8" cols="50" placeholder="Write your feedback here" required></textarea>
                            </div>
                            <br />
                            <input type="submit" class="submitButton" value="Submit" onclick="validateForm()" />
                        </fieldset>
                    </form>
                </div>
            </div>
            <div class="col-sm-6" style="text-align: center; padding: 30px 0 0 0">
                <img class="img-fluid imglogo" src="~/images/B-United SG Logo.png" />
            </div>
        </div>
    </div>
</body>
