﻿@model WebApplication.Models.Customer

@{ 
    ViewData["Title"] = "ForgetPassword";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="~/css/Index.css">
    <script src="~/js/Navbar.js" defer></script>
</head>
<body>
    <div class="row" style="text-align:center; padding:20px; justify-content:center;">
        <div class="col-sm-12">
            <p style="font-family: 'Quicksand', sans-serif; font: bolder; font-size:60px;">Are you a customer or volunteer?</p>
        </div>
    </div>
    <div class="row" style="text-align:center; padding:20px; justify-content:center;">
        <div class="col-sm-6">
            <a type="button" class="signupButton" value="Customer" asp-action="CustomerForgetPass" asp-controller="Customer">Customer</a>
        </div>
        <div class="col-sm-6">
            <a type="button" class="signupButton" value="Volunteer" asp-action="VolunteerForgetPass" asp-controller="Volunteer">Volunteer</a>
        </div>
    </div>
</body>
</html>
