﻿<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link rel="stylesheet" type="text/css" href="~/css/Site.css">
    <link rel="stylesheet" type="text/css" href="~/css/Index.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
</head>

<body style="background: #F6F6F6;" onresize="navResize()">
    <div class="container-fluid">
        <div style="text-align:center; font-family: 'Quicksand', sans-serif;font-size: 30px">
            <h1 class="display-4" style="margin-top: 40px;">Login to B-United SG</h1>
        </div>
        <div style="margin:auto; max-width:100%; width:750px; min-width:275px; background:#FFFFFF;">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-5" style="display:inline-block; min-width:300px; padding-left:20px; padding-top:10px;">
                        <h1 class="customtext">Login</h1>
                        <form method="post" asp-action="Login">
                            <input type="email" name="txtEmail" placeholder="Email" required />
                            <input type="password" name="inputPassword" placeholder="Password" required />
                            <input type="submit" class="loginButton" value="Login" name="txtPassword" />
                            <br />
                            <span style="color:red;">@TempData["Message"]</span>
                        </form>
                        <a href="~/Home/ForgetPassword"><u>Forget Password</u></a>
                    </div>
                    <div class="col-sm-1" id="vl">
                        <div class="vl"></div>
                    </div>
                    <div class="col-sm-6" style="display:block; padding-top:40px; padding-bottom:20px;">
                        <h1 class="customtext2">Not a B-United SG Member yet?</h1>
                        <p class="customtext3">Register now to use B-United SG!</p>
                        <a type="button" class="signupButton" value="Join now" asp-action="RoleSelection" asp-controller="Home">Join Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>