﻿
@{
    ViewData["Title"] = "RoleSelection";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="~/css/RoleSelection.css" />
</head>
<body>
    <div class="row" style="text-align:center; padding:20px; justify-content:center;">
        <h1 class="fontquick">Welcome to B-United SG!<br /> Select your role:</h1>
    </div>
    <div class="row" style="text-align:center; padding:20px; justify-content:center;">
        @*Elderly Button*@
            <div class="col-sm-6">
                <a href="~/Customer/Create">
                    <div class="roundborder">
                        <img src="~/images/Elderly.jpeg" class="imgsize" />
                        <p class="fontquick fontsize" style="color:black;"><b>Elderly</b></p>
                    </div>
                </a>
            </div>

        @*Volunteer Button*@
        <div class="col-sm-6">
            <a href="~/Volunteer/Create">
                <div class="roundborder">
                    <img src="~/images/Volunteer.jpeg" class="imgsize" />
                    <p class="fontquick fontsize" style="color:black"><b>Volunteer</b></p>
                </div>
            </a>
        </div>
    </div>

</body>
</html>
