﻿<head>
    <link rel="stylesheet" type="text/css" href="~/css/SpaceOut.css">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
</head>

<body>
<h1 class="header">Check crowdedness of local parks in Singapore</h1>
<iframe name="NParks" class="nparks" src="https://safedistparks.nparks.gov.sg/" width="550" height="550" frameborder="0" scrolling="yes">
    
</iframe>
<p class="legend">
    <b>Legend:</b><br />
    <grey>Grey- Park is closed </grey><br />
    <green>Green - Not crowded - Low chance of exposure</green> <br />
    <yellow>Yellow - Moderately crowded - Medium chance of exposure </yellow> <br />
    <orange>Orange - Very crowded - High chance of exposure, avoid if possible</orange> <br />
</p>
</body>