﻿@*@model IEnumerable<WebApplication.Models.CartViewModel>*@

@{
    ViewData["Title"] = "Checkout";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/GroceryCheckout.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div class="row styleDiv">
        <div class="col-sm-12 styleDiv">
            <h1 style="font-weight: bold;">Order Summary</h1>
        </div>
    </div>
    <div style=" background-color: pink; padding-left:20px; border-radius:10px;">
        <div style="font-size: 25px;">
            <table class="table table-borderless">
                <tr>
                    <th><u>Item</u></th>
                    <th><u>Brand</u></th>
                    <th><u>Price</u></th>
                    <th><u>Quantity</u></th>

                </tr>
                @*@foreach (var item in Model)
                {
                    <tbody>
                        <tr>
                            <td>@item.Name</td>
                            <td>@item.Brand</td>
                            <td>@item.Price</td>
                            <td>@item.Quantity</td>
                        </tr>
                    </tbody>
                }*@
            </table>
            <hr class="new4" />
        </div>
        <div class="row" style="font-size: 25px;">
            <div class="col-sm-9" style="text-align: left; padding-left: 25px;">
                <p>Total: </p>
            </div>
            <div class="col-sm-3" style="text-align: left; padding-left: 10px;">
                <p>$@ViewData["TotalCost"]</p>
            </div>
        </div>
        @*<div class="row" style="font-size: 25px;">
            <div class="col-sm-9" style="text-align: left; padding-left: 25px;">
                <p>Delivery Fees: </p>
            </div>
            <div class="col-sm-3" style="text-align: left; padding-left: 10px;">
                <p>$1.65</p>
            </div>
        </div>*@
    </div>
    <div class="row styleDiv divMargin">
        <div class="col-sm-12 styleDiv">
            <h1 style="font-weight: bold;">Deliver to</h1>
        </div>
    </div>
    <div>
        <div style=" background-color: pink; padding-left:20px; border-radius:10px; margin: 0px;">
            <div class="row" style="font-size: 25px; padding: 20px 0 0 0;">
                <div class="col-sm-9">
                    <p>@ViewData["Address"]</p>
                </div>
                <div class="col-sm-3">
                    <p><u><a href="~/Customer/Edit" style="color: black;">Edit</a></u></p>
                </div>
            </div>
        </div>
    </div>

    <div class="row styleDiv">
        <div class="col-sm-12 styleDiv">
            <h1 style="font-weight: bold;">Payment Details</h1>
        </div>
    </div>
    <div style=" background-color: pink; padding-left:20px; border-radius:10px;" class="styleDiv">
        <div class="row" style="font-size: 25px; margin: 0px;">
            <div class="col-sm-12" style="text-align: center;">
                <p>Cash</p>
            </div>
        </div>
    </div>
    <hr class="new4" />
    <div class="row" style="font-size: 25px;">
        <div class="col-sm-9" style="text-align: left; padding-left: 25px;">
            <p>Total: </p>
        </div>
        <div class="col-sm-3" style="text-align: left; padding-left: 10px;">
            <p>@ViewData["TotalCost"]</p>
        </div>
    </div>

    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-12">
            <a href="~/Grocery/CreateOrder" type="button" style="width:100%; text-align:center; justify-content:center;  padding: 10px;" class="btn btn-success">Place Order</a>
        </div>
    </div>
</body>
</html>