﻿@*@model IEnumerable<WebApplication.Models.CartViewModel>*@

@{
    ViewData["Title"] = "ViewCart";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/ViewCart.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <div class="row styleDiv" style="padding: 20px 0 40px 0;">
        <div class="col-sm-12 styleDiv">
            <h1 style="font-weight: bold;">View Grocery Cart</h1>
        </div>
    </div>
    <h2 style="color:red;">@TempData["CartEmpty"]</h2>
    <div class="jumbotron" style="background-color: pink; padding: 0px;">
        <div class="row col-sm-12" style="font-size: 25px;">
            <div class="container-fluid">
                <table class="table table-borderless" style="text-align: center;">
                    <tr>
                        <th>Name</th>
                        <th>Brand</th>
                        <th>Description</th>
                        <th>Quantity</th>
                        <th>Price</th>
                        <th></th>
                    </tr>

                    @*@foreach (var item in Model)
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Brand</td>
                                    <td>@item.Description</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.Price</td>
                                    <td><a class="btn btn-outline-danger" asp-action="DeleteCartItem" asp-controller="Grocery" asp-route-id="@item.ID">Delete</a></td>
                                </tr>
                            </tbody>
                        }*@
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-danger" asp-controller="Customer" asp-action="OrderGrocery">Back</a>
        </div>
        <div class="col-sm-6" style="text-align: right;">
            <a class="btn btn-danger" asp-controller="Grocery" asp-action="Checkout">Checkout</a>
        </div>
    </div>
</body>
</html>