﻿@model IEnumerable<WebApplication.Models.Item>
@{
    ViewData["Title"] = "OrderGrocery";
}
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="~/css/orderGrocery.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    <div class="row styleDiv" style="padding: 20px 0 40px 0;">
        <div class="col-sm-12 styleDiv">
            <h2 style="font-weight: bold;">Grocery Shopping!</h2>
            <h2>Select grocery to add to cart</h2>
        </div>
    </div>
    <div class="jumbotron" style="background-color: pink; padding: 0px;">
        <div class="row col-sm-12" style="font-size: 25px;">
            <div class="container-fluid">
                <table class="table" style="text-align: center;">
                    <tr>
                        <th>Product Name</th>
                        <th>Price ($)</th>
                        <th>Status</th>
                        <th></th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        if (item.Status != "Deleted")
                        {
                            <tbody>
                                <tr>
                                    <td>@item.Name</td>
                                    <td>@item.Price</td>
                                    @if (item.Status == "Available")
                                    {
                                        <td style="color: forestgreen">
                                            @item.Status
                                        </td>
                                        <td><a type="button" class="addButton" asp-action="ViewGrocery" asp-controller="Grocery" asp-route-id="@item.ItemID" onclick="addcart()">Add to cart <i class="fa fa-shopping-basket"></i></a></td>
                                    }
                                    else
                                    {
                                        <td style="color: red">
                                            @item.Status
                                        </td>
                                    }
                                </tr>
                            </tbody>
                        }

                    }
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            <a class="btn btn-danger" asp-controller="Customer" asp-action="Index">Back To Home</a>
        </div>
        <div class="col-sm-6" style="text-align: right;">
            <a class="btn btn-danger" asp-controller="Cart" asp-action="ViewCart">View Cart</a>
        </div>
    </div>
    <script type="text/javascript">
        function addcart() {
            alert("Item added to cart successfully!");
        }
    </script>
</body>
</html>
