﻿@model WebApplication.Models._ViewCartItem

@{
    ViewData["Title"] = "ViewCart";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/ViewCart.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <div class="row styleDiv" style="padding: 20px 0 20px 0;">
        <div class="col-sm-12 styleDiv">
            <h1 style="font-weight: bold;">View Cart</h1>
        </div>
    </div>
    <h2 style="color: red; text-align: center"><b>@TempData["CheckOutError"]</b></h2>

    <div class="jumbotron" style="background-color: pink; padding: 0px;">
        <div class="row col-sm-12" style="font-size: 25px;">
            <div class="container-fluid">
                <table class="table" style="text-align: center;">
                    <tr>
                        <th>
                            Item
                        </th>
                        <th>
                            Quantity
                        </th>
                        <th>
                            Price
                        </th>
                    </tr>

                    <tbody>
                        @foreach (var item in Model.CartItemList)
                        {
                            foreach (var temp in Model.ItemList)
                            {
                                if (temp.ItemID == item.ItemID)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => temp.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.qty)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => temp.Price)
                                        </td>
                                        <td>
                                            <a class="btn btn-outline-danger" asp-route-id="@item.ItemID" asp-controller="Cart" , asp-action="DeleteCartItem">Delete</a>
                                        </td>
                                    </tr>
                                }
                            }
                        }
                        <tr>
                            <td colspan="5"><p>Total Price: @Model.TotalPrice</p></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <a class="btn btn-danger" asp-controller="Customer" asp-action="Index">Back To Home</a>
        </div>
        <div class="col-sm-6" style="text-align: right;">
            <a class="btn btn-danger" asp-controller="Order" asp-action="CheckOut">Checkout</a>
        </div>
    </div>
</body>
</html>

