﻿body {
    font-family: 'Quicksand', sans-serif;
}

.centered {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.paraAbout {
    font-size: 130px;
    font-family: 'PT Serif Caption';
    font-weight: normal;
    color: pink;
}

.paracss {
    padding: 20px;
    text-align: center;
    font-size: 28px;
    font-family: 'Quicksand', sans-serif;
    margin: auto;
}

.responsive {
    width: 100%;
    height: auto;
    background-size: cover;
    object-fit: cover;
}