﻿body {
    font-family: 'Quicksand', sans-serif;
}

.addStore {
    font-size: 40px;
    padding: 30px 10px 30px 10px;
}

fieldset {
    background-color: pink;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}

label {
    font-size: 24px;
    font-weight: bold;
}

.displayWidth {
    width: 250px;
    font-size: 20px;
}

.edit {
    font-size: 25px;
    padding: 20px 20px 0px 20px;
    float: right;
}