﻿.styleDiv {
    justify-content: center;
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
}

fieldset {
    background-color: pink;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}

.styleButton {
    background-color: #FF8585;
    border: solid 2px;
    border-radius: 20px;
    color: black;
    margin-right: 10px;
    padding: 7px 14px;
    text-decoration: none;
    display: inline-block;
    font-weight: bold;
    width: 300px;
    height: 60px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
}

.underline2 {
    border-bottom: 1.5px solid #808080;
    font-size: 33px;
    padding-bottom: 10px;
}

a:hover {
    color: black;
}

.roundborder {
    border: solid #FF8585;
    border-radius: 10px;
    padding-top: 20px;
    background: #FF8585;
    box-shadow: 0 6px #999;
    box-sizing: border-box;
}

    .roundborder:active {
        background-color: #FF8585;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.imgsize {
    width: 900px;
    height: 400px;
}