﻿body {
    font-family: 'Quicksand', sans-serif;
}

.styleDiv {
    justify-content: center;
    text-align: center;
    padding-top: 20px;
}

a:hover {
    color: black;
}

.addButton {
    background-color: #5cb85c;
    border: solid 2px;
    border-radius: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    margin-top: 0px;
    width: 150px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
}