﻿.labelSize {
    font-size: 24px;
    font-weight: bold;
}

.displaySize {
    font-size: 24px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.displayWidth{
    width: 250px;
    font-size: 20px;   
}

.myprofile {
    font-size: 40px;
}

.viewProfile {
    font-family: 'Quicksand', sans-serif;
    font-size: 40px;
    padding: 30px 10px 30px 10px;
}

fieldset {
    background-color: pink;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
}

a:hover {
    color: black;
}

.roundborder {
    border: solid #FF8585;
    border-radius: 10px;
    padding-top: 20px;
    background: #FF8585;
    box-shadow: 0 6px #999;
    box-sizing: border-box;
}

.edit {
    font-size: 25px;
    padding: 20px 20px 0px 20px;
    float: right;
}
