﻿.fontType {
    font-size: 25px;
    padding-top: 10px;
    font-weight: bold;
}

.styleDiv{
    justify-content: center;
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
}


.roundborder {
    border: solid #FF8585;
    border-radius: 10px;
    padding-top: 20px;
    background: #FF8585;
    box-shadow: 0 6px #999;
    box-sizing: border-box;
}

    .roundborder:active {
        background-color: #FF8585;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }


.fontsize {
    font-size: 25px;
    padding-top: 10px;
}

.imgsize {
    width: 225px;
    height: 150px;
}

.styleButton {
    float: right;
    background-color: #FF8585;
    border: solid 2px;
    border-radius: 20px;
    color: black;
    margin-right: 10px;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
    align-content: center;
    width: 150px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
}

a:hover {
    color: black;
}