﻿body {
    font-family: 'Quicksand', sans-serif;
}

.formborder {
    border-style: groove;
    padding-bottom: 10px;
}

input {
    margin-left: 20px;
    margin-top: 10px;
    max-width: 90%;
    width: auto;
}

.imglogo {
    width: 400px;
    max-width: 100%;
}

.submitButton {
    background-color: #C60C30;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    width: 130px;
    height: 50px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
    box-shadow: 0 6px #999;
    margin-left: 0px;
}

    .submitButton:active {
        background-color: #C60C30;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
    }

.textrow {
    font-family: 'Quicksand', sans-serif;
    padding-left: 15px;
    padding-top: 10px;
    margin-left: -25px;
}

textarea {
    resize: none;
}