﻿body {
    font-family: 'Quicksand', sans-serif;
}

.styleDiv {
    justify-content: center;
    text-align: center;
}


a{
    color:black;
    font-size: 30px;
}

a:hover {
    color: black;
}

#myUL {
    list-style-type: none;
}

#myLI {
    background-color: pink;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px 10px 3px 10px;
    display: block;
    overflow: hidden;
    justify-content: center;
    text-align: center;
    margin: 10px;
}