﻿.styleDiv {
    text-align: center;
    padding-top: 10px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

th {
    color: black;
    font-weight: bolder;
    border-top: 0px;
}

td {
    color: black;
    border-top: 0px;
}

table {
    text-align: left;
    border-top: 0px;
}

hr.new4 {
    border: 0.5px solid black;
    width: 97%;
}

.table td, .table th {
    vertical-align: top;
    border-top: 0px;
}

.divMargin {
    margin:20px;
}

a:hover {
    color: black;
}

.radioLabel{
    margin-left:20px;
    margin-right:10px;
}

input[type='radio'] {
    transform: scale(2);
}

.cardSelection{
    width:5%;
    height:5%;
    margin-left:5px;
    margin-right:20px;
}

.cardSelectionAE {
    width: 5%;
    height: 5%;
    margin-left: 5px;
    margin-right: 20px;
}

.cardSelectionVisa {
    width: 7%;
    height: 7%;
    margin-left: -5px;
    margin-right: 20px;
}

.creditLabel {
    margin:20px;
}
