﻿.header {
    font-style: normal;
    font-weight: 500;
    font-size: 36px
}

.loginInput {
    border-radius: 20px;
    width: 200px;
    height: 60px;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.loginButton {
    background-color: #C60C30;
    border: none;
    color: white;
    padding: 15px 28px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    border-radius: 20px;
    align-content: center;
    text-align: center;
    width: 200px;
    height: 60px;
    font-family: 'Quicksand', sans-serif;
    outline: 0;
    box-shadow: 0 6px #999;
}

.signupButton {
    background-color: limegreen;
    border: solid 1px;
    border-radius: 20px;
    color: black;
    padding: 15px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    align-content: center;
    width: 200px;
    height: 60px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
    box-shadow: 0 6px #999;
}

button:active {
    background-color: white;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.signupButton:active {
    background-color: limegreen;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.loginButton:active {
    background-color: #C60C30;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    font-weight: bold;
}

.customtext {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    padding: 10px;
    font-weight: bold;
}

form, input {
    font-family: 'Quicksand', sans-serif;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 20px;
    border-color: black;
    outline: 0;
}

.vl {
    border-left: 2.5px solid #cacfcc;
    border-radius: 1px;
    height: 350px;
    top: 0;
    margin-top: 15px;
    margin-left: 35px;
}

.customtext2 {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    padding: 10px;
    font-weight: 900;
}

.customtext3 {
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-size: 25px;
    padding: 10px;
    font-weight: 200;
}

