﻿.imageSize{
    height:100px;
    width:50px;
}

body {
    font-family: 'Quicksand', sans-serif;
}

.styleDiv {
    justify-content: center;
    text-align: center;
}

.styleButton {
    float: right;
    background-color: #FF8585;
    border: solid 2px;
    border-radius: 20px;
    color: black;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 25px;
    font-weight: bold;
    align-content: center;
    width: 150px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
}

.roundborder {
    border: solid #FF8585;
    border-radius: 10px;
    padding-top: 20px;
    background-color: rgba(211, 129, 129, 0.6);
    box-shadow: 0 6px #999;
    box-sizing: border-box;
}

.fieldset {
    background-color: pink;
    border-radius: 10px;
    box-sizing: border-box;
    padding-top: 10px;
    padding-left: 10px;
    display: block;
    overflow: hidden;
}

.box {
    border-radius: 10px;
    margin: 20px 0 10px 10px;
    padding: 15px;
    position: relative;
    background-color: white;
    border: 1px solid black;
    font-size: 20px;
    width: 100%
}

a:hover {
    color: black;
}

.productName{
    text-align: left;
    width: 300px;
}

.brand{
    text-align: left;
    width: 300px;
}

.descr{
    text-align: left;
    width: 300px;
}

.addButton {
    background-color: #FF8585;
    border: solid 2px;
    border-radius: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    font-weight: bold; 
    margin-top:0px;
    width: 150px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
}