﻿body {
    font-family: 'Quicksand', sans-serif;
}

.orderStatus {
    font-size: 40px;
    padding: 30px 10px 30px 10px;
}

a:hover {
    color: black;
}

.addButton {
    background-color: #5cb85c;
    border: solid 2px;
    border-radius: 20px;
    color: black;
    text-align: center;
    text-decoration: none;
    font-size: 23px;
    font-weight: bold;
    margin-top: 0px;
    width: 150px;
    height: 40px;
    font-family: 'Quicksand', sans-serif;
    outline: none !important;
}

.bgField {
    background-color: pink;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px 10px 10px 20px;
}

h3{
    padding-left: 10px;
    padding-top: 5px;
}

.edit {
    font-size: 25px;
    padding: 20px 20px 0px 20px;
    float: right;
}