﻿.imgsize{
    width:180px;
    height:150px;
}

.roundborder {
    border: solid #FF8585;
    border-radius: 10px;
    padding-top: 20px;
    background: #FF8585;
    box-shadow: 0 6px #999;
    box-sizing: border-box;
}

.roundborder:active {
        background-color: #FF8585;
        box-shadow: 0 5px #666;
        transform: translateY(4px);
}

.fontquick {
    font-family: 'Quicksand', sans-serif;
    font: bolder;
}

.fontsize {
    font-size: 30px;
    padding-top:10px;
}

a:hover{
    color: black;
}



