﻿.header {
    font-weight: bold;
    font-family: 'Quicksand', sans-serif;
    text-align:center;
    padding-top:50px;
}

.nparks {
    width: 100%;
    padding-top: 50px;
}

.legend {
    font-family: 'Quicksand', sans-serif;
    margin-top: 30px;
    font-size: 26px;
    color: black;
    padding: 20px;
    text-align: center;
}

grey{
    background-color: grey;
}
green {
    background: green;
}

yellow {
    background: yellow;
}

orange {
    background: Orange;
}

