﻿body {
    font-family: 'Quicksand', sans-serif;
}

.styleDiv {
    justify-content: center;
    text-align: center;
}

th {
    font-size: 20px;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    background-color: pink;
}
