﻿/*table,
th,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

th,
td {
    padding: 10px;
    text-align: center;
}

table#t01 tr:nth-child(even) {
    background-color: #eee;
}

table#t01 tr:nth-child(odd) {
    background-color: #fff;
}

table#t01 th {
    background-color: black;
    color: white;
}
*/

.styleDiv{
    text-align: center;
}

body {
    font-family: 'Quicksand', sans-serif;
}

th{
    color: black;
    font-weight: bolder;
}

td{
    color: black;
}