﻿body {
    background-color: #F6F6F6;
}

.createprofile {
    font-family: 'Quicksand', sans-serif;
    font-size: 50px;
    margin-bottom: -20px;
    margin-top: 10px;
}

.home {
    width: 100%;
    height: 45px;
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    font-weight: bold;
    background-color: #e6e6e6;
    padding-top: 10px;
    padding-left: 10px;
    font-weight: bold;
}

.formdiv {
    font-size: 18px;
    width: auto;
    max-width: 100%;
}

.imglogo {
    width: 450px;
    max-width: 100%;
    bottom: 60px;
    padding-top: 90px;
    position: relative;
}

input {
    border-color: black;
    border-width: 1px;
    outline: 0;
}

.formcss {
    padding: 50px 10px 20px 0px;
}

label {
    display: inline-block;
    width: 200px;
}

.nopad {
    padding-left: 0px;
}

.submitButton {
    display: inline-block;
    margin-right: 20px;
    margin-top: 10px;
}

.datebirth {
    padding-right: 5px;
}

