﻿@{
    ViewData["Title"] = "View";
}

<h1>View</h1>

<div class="container">
    <canvas class="my-4 chartjs-render-monitor" id="barChart" width="803" height="339" style="display: block; width: 803px; height: 339px;"></canvas>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.js" integrity="sha512-d9xgZrVZpmmQlfonhQUvTR7lMPtO7NkZMkA0ABN3PHCbKA5nqylQ/yWlFAyY6hYgdF1Qh6nYiuADWwKB4C2WSw==" crossorigin="anonymous"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var FrequencyArray = @Html.Raw(Json.Serialize(ViewBag.Frequency));
    var MonthArray = @Html.Raw(Json.Serialize(ViewBag.Months));
    let ctx = document.getElementById('barChart').getContext('2d');
    let massPopChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: MonthArray,
            datasets: [{
                label: 'Orders',
                data: FrequencyArray,
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#ffc0cb',
                borderWidth: 2,
                pointBackgroundColor: '#ffc0cb'
            }]
        },
        options: {}
    });

</script>
