﻿<!--Create CUSTOMER-->
@model WebApplication.Models.Customer

@{
    ViewData["Title"] = "Create";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Profile</title>
    <link rel="stylesheet" type="text/css" href="~/css/VolunteerReg.css" />
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=PT+Serif+Caption&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js"></script>
    <link rel="stylesheet" href="~/css/Create.css" />
    <script src="~/js/validateDOBElderly.js" defer></script>
    <script src="~/js/elderly.js"></script>
    <script src="https://kit.fontawesome.com/b1cc801a97.js" crossorigin="anonymous"></script>

</head>

<body>
    <div style="float: right; font-family: 'Quicksand', sans-serif; font-size: 20px; margin-right:0 !important;">
        <i class="fas fa-glasses"></i>
        Elderly-Friendly Mode
        <label class="switch">
            <input type="checkbox" onclick="elderlyResize()">
            <span class="slider round"></span>
        </label>
    </div>
    <div class="container-fluid">
        <div class="row createprofile">
            <p>Elderly Registration</p>
        </div>
        <div class="row home">
            <p>Home/Elderly Registration</p>
        </div>

        <div class="row formdiv">
            <div class="col-sm-7 nopad" style="font-family: 'Quicksand', sans-serif">
                <div>
                    <form method="post" action="~/Customer/Create" class="formcss">
                        <label asp-for="Name"></label>
                        <input asp-for="Name" required />
                        <br />
                        <span style="color:red" asp-validation-for="Name"></span>

                        <br /><br />
                        <label asp-for="EmailAddr"></label>
                        <input asp-for="EmailAddr" required />
                        <br />
                        <span style="color:red" asp-validation-for="EmailAddr"></span>

                        <br /><br />
                        <label asp-for="Password"></label>
                        <input type="password" asp-for="Password" required />
                        <br />

                        <br /><br />
                        <label asp-for="DOB"></label>
                        <input asp-for="DOB" max='2012-01-01T22:22:55' required />
                        <br />

                        <br /><br />
                        <label asp-for="PhoneNum"></label>
                        <input asp-for="PhoneNum" required />
                        <br />
                        <span style="color:red" asp-validation-for="PhoneNum"></span>

                        <br /><br />
                        <label asp-for="Address"></label>
                        <input asp-for="Address" required />
                        <br />


                        <br /><br />
                        <label asp-for="MedicalHistory"></label>
                        <input asp-for="MedicalHistory" required />
                        <br />

                        <br /><br />
                        <label asp-for="Dietary"></label>
                        <input asp-for="Dietary" required />
                        <br />

                        <br /><br />
                        <div class="controls">
                            <label asp-for="Gender"></label>
                            <label class="radio-inline gender" asp-for="Gender">
                                <input type="radio" asp-for="Gender" name="gender" id="male" value="M" required />
                                Male
                            </label>
                            <label class="radio-inline gender" id="gender" asp-for="Gender">
                                <input type="radio" asp-for="Gender" name="gender" id="female" value="F" required />
                                Female
                            </label>
                        </div>

                        <br />
                        <input type="submit" class="submitButton" value="Create" />
                    </form>
                </div>
            </div>
            <div class="col-sm-5">
                <div>
                    <img class="img-fluid imglogo" src="~/images/B-United SG Logo.png" />
                </div>
            </div>
        </div>
    </div>
</body>

@*<script>
    function pad(n) {
        return n < 10 ? '0' + n : n;
    }
    var today = new Date();
    var datemin = new Date(today);
    var date = datemin.getDate();
    var month = datemin.getMonth();
    var year = datemin.getFullYear();
    var formatteddate = (datemin.getFullYear() - 65) + '-' + pad(month + 1) + '-' + pad(date);
    document.getElementById("dobinput").max = formatteddate;
</script>*@

