﻿@model WebApplication.Models.Customer

@{
    ViewData["Title"] = "Edit";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="~/css/Edit.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>
<body>
    <div class="container-fluid" style="align-content: center;">
        <div>
            <div class="viewProfile">
                Edit Profile
                <i class='fa fa-user-circle' style='font-size:50px; padding-left:10px;'></i>
                <a asp-action="ViewProfile" asp-controller="Customer" class="edit"><u>View Profile</u></a>
            </div>
            <div>
                <form asp-action="Edit">
                    <fieldset class="FormContent">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label labelSize"></label>
                            <input asp-for="Name" class="form-control displayWidth" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailAddr" class="control-label labelSize"></label>
                            <div class="col-sm-9 form-control-plaintext displaySize" style="padding: 0px !important;">
                                @Html.Display("EmailAddr")
                            </div>
                            <input asp-for="EmailAddr" hidden />
                        </div>
                        <div class="form-group">
                            <label asp-for="DOB" class="control-label labelSize"></label>
                            <input asp-for="DOB" class="form-control displayWidth" />
                            <span asp-validation-for="DOB" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="PhoneNum" class="control-label labelSize"></label>
                            <input asp-for="PhoneNum" class="form-control displayWidth" />
                            <span asp-validation-for="PhoneNum" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Address" class="control-label labelSize"></label>
                            <input asp-for="Address" class="form-control displayWidth" />
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MedicalHistory" class="control-label labelSize"></label>
                            <input asp-for="MedicalHistory" class="form-control displayWidth" />
                            <span asp-validation-for="MedicalHistory" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Dietary" class="control-label labelSize"></label>
                            <input asp-for="Dietary" class="form-control displayWidth" />
                            @*<div class="col-sm-9 form-control-plaintext displaySize" style="padding: 0px !important;">
                                    @Html.Display("Dietary")
                                </div>*@
                        </div>
                        <div class="form-group row">
                            <label asp-for="Gender" class="col-sm-3 col-form-label labelSize"></label>
                            @{
                                string gender;
                                if (Html.ViewData.Model.Gender == "M")
                                {
                                    gender = "Male";
                                }
                                else
                                {
                                    gender = "Female";
                                }
                            }
                        </div>
                        <div class="row col-sm-9 form-control-plaintext displaySize" style="margin-top: -25px; padding-left: 20px;">
                            @gender
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="submit" value="Save" class="btn btn-primary" />
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</body>
</html>

