﻿@model WebApplication.Models.Customer

@{
    ViewData["Title"] = "ForgetPassword";
}

<h1>ForgetPassword</h1>

<h4>Customer</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="ForgetPass" asp-controller="Customer">
            <input type="email" name="txtEmail" placeholder="Email" required />
            <input type="submit" class="loginButton" value="Login" name="txtPassword" />
            <br />
            <span style="color:red;">@TempData["Message"]</span>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
