﻿@using Microsoft.AspNetCore.Http

@{
    ViewData["Title"] = "View";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <link rel="stylesheet" href="~/css/ElderlyIndex.css" />
</head>
<body>
    <div class="row" style="padding: 10px 0 20px 0;">
        <div class="col-sm-3 styleDiv">
        </div>
        <div class="col-sm-9" style="padding: 10px 0 0 0;">
            @*<a type="button" class="styleButton" value="Top-Up" asp-action="" asp-controller="">Top-Up</a>
            <a type="button" class="styleButton" value="Account" asp-action="" asp-controller="">Account</a>*@
        </div>
    </div>
    <div class="row styleDiv" style="padding: 0 0 40px 0;">
        <div class="col-sm-12 styleDiv">
            <h2>Welcome, @Context.Session.GetString("Name")</h2>
            <h2>What would you like to do today?</h2>
        </div>
    </div>
    <div class="row styleDiv">
        <div class="col-sm-4">
            <a href="~/Food/FoodStores">
                <div class="roundborder img-fluid">
                    <img src="~/images/salmonImage.jpg" class="imgsize" />
                    <p class="fontquick fontsize" style="color:black;"><b>Order Food</b></p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Grocery/ViewGrocery">
                <div class="roundborder img-fluid">
                    <img src="~/images/groceryImage.png" class="imgsize" />
                    <p class="fontquick fontsize" style="color:black;"><b>Order Grocery</b></p>
                </div>
            </a>
        </div>
        <div class="col-sm-4">
            <a href="~/Customer/OrderStatus">
                <div class="roundborder img-fluid">
                    <img src="~/images/deliveryImage.png" class="imgsize" />
                    <p class="fontquick fontsize" style="color:black;"><b>Order Status</b></p>
                </div>
            </a>
        </div>
    </div>
</body>
</html>