﻿@model IEnumerable<WebApplication.Models._ViewOrderHistory>
@{
    ViewData["Title"] = "Order History";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/OrderStatus.css" />
    <script src="~/js/Navbar.js" defer></script>
</head>
<body>
    <div class="row styleDiv">
        <div class="col-sm-12 styleDiv orderStatus">
            View Order History
            <i class="fa fa-history" style='font-size:50px; padding-left:10px;'></i>
            <a href="~/Customer/OrderStatus" class="edit"><u>View Order Status</u></a>
        </div>
        <div class="container">
            <canvas class="my-4 chartjs-render-monitor" id="barChart" width="803" height="339" style="display: block; width: 803px; height: 339px;"></canvas>
        </div>
    </div>
    <div class="jumbotron" style="background-color: pink; padding: 0px;">
        <div class="row col-sm-12" style="font-size: 25px;">
            <div class="container-fluid">
                <table class="table" style="text-align: center;">
                    <tr>
                        <th>Order ID</th>
                        <th>Items</th>
                        <th>Price ($)</th>
                        <th>Date</th>
                    </tr>
                    <tbody>
                        @foreach (var x in Model)
                        {
                            <tr>
                                <td>@x.OrderID</td>
                                <td>
                                    @foreach (var OrderItems in x.OrderItem)
                                    {
                                        @foreach (var items in x.ItemList)
                                        {
                                            if (OrderItems.ItemID == items.ItemID)
                                            {
                                                <ul style="list-style-type:none;">
                                                    <li>@OrderItems.qty x @items.Name</li>
                                                </ul>
                                            }
                                        }
                                    }

                                </td>
                                <td>@x.TotalPrice</td>
                                <td>@x.OrderCreated</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="row" style="padding-top: 20px;">
        <div class="col-sm-6">
            <a class="btn btn-danger" asp-controller="Volunteer" asp-action="Index">Back To Home</a>
        </div>
    </div>
</body>
</html>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script>
    var FrequencyArray = @Html.Raw(Json.Serialize(ViewBag.Frequency));
    var MonthArray = @Html.Raw(Json.Serialize(ViewBag.Months));
    let ctx = document.getElementById('barChart').getContext('2d');
    let massPopChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: MonthArray,
            datasets: [{
                label: 'Orders in 2021',
                data: FrequencyArray,
                lineTension: 0,
                backgroundColor: 'transparent',
                borderColor: '#ffc0cb',
                borderWidth: 2,
                pointBackgroundColor: '#ffc0cb'
            }]
        },
        options: {}
    });

</script>
