﻿@model IEnumerable<WebApplication.Models._ViewOrderStatus>

@{
    ViewData["Title"] = "OrderStatus";
}

<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <script src="~/js/Navbar.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/OrderStatus.css" />
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
</head>

<body>
    <div class="container-fluid">
        <div>
            <div class="orderStatus">
                View Order Status
                <i class='fas fa-shipping-fast' style='font-size:50px; padding-left:10px;'></i>
                <a href="~/Customer/OrderHistory" class="edit"><u>View Order History</u></a>
            </div>
            <div>
                @foreach (var i in Model)
                {
                    <fieldset style="border: 5px solid pink;width: 99%">
                        <h3><b>Order ID: @i.OrderID</b></h3>
                        <h3><b>Order Time: @i.DeliveryDateTime</b></h3>
                        <h3><b>Order Description:</b></h3>
                        <ul style="font-size: 24px;">
                            @foreach (var x in i.OrderItem)
                            {
                                @foreach (var y in i.ItemList)
                                {
                                    if (x.ItemID == y.ItemID)
                                    {
                                        <li>@x.qty x @y.Name</li>
                                        break;
                                    }
                                }
                            }
                        </ul>
                        <h3><b>Status: @i.Status</b></h3>
                    </fieldset>
                    <br />
                    <fieldset style="border: 5px solid pink; width: 99%;">
                        <h3><b>Total Price: $@i.TotalPrice</b></h3>
                    </fieldset>
                }
            </div>
            <div style="font-size: 30px; text-align: center; padding-top: 10px;">
                @{
                    string thankYou;
                    foreach (var i in Model)
                    {
                        if (i.Status.ToString() == "Processing")
                        {
                            thankYou = "Please wait patiently while our volunteer delivers the order to you";
                            <h3>@thankYou &#x1F604;</h3>
                        }
                    }
                }
                <h2 style="color: red; text-align: center"><b>@TempData["NoOrder"]</b></h2>
                @{
                    string noOrder;
                    if (Model.Count() == 0)
                    {
                        noOrder = "You currently have no order. Start ordering now!";
                        <h3>@noOrder &#x1F604;</h3>
                    }
                }
            </div>
        </div>
    </div>
</body>
</html>

