﻿@model WebApplication.Models.Customer

@{
    ViewData["Title"] = "ViewProfile";
}

<!DOCTYPE html>
<html>
<head>
    <!-- Use Unicode character encoding - multi-language compatibity -->
    <meta charset="utf-8">          <!-- Set the initial view zooming scale for mobile device  -->
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="HandheldFriendly" content="true">
    <title>B-United SG</title>          <!-- Reference to customized styling for this website -->
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <script src="~/js/Navbar.js" defer></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="~/css/ViewProfile.css" />
</head>
<body>
    <div class="container-fluid" style="align-content: center;">
        <div>
            <div class="viewProfile">
                View Profile
                <i class='fa fa-user-circle' style='font-size:50px; padding-left:10px;'></i>
                <a asp-action="Edit" asp-controller="Customer" class="edit"><u>Edit</u></a>
            </div>
            <fieldset class="FormContent" style="padding:20px;">
                <div class="form-group row">
                    <label asp-for="Name"
                           class="col-sm-3 col-form-label labelSize"></label>
                    <div class="col-sm-9 form-control-plaintext displaySize">
                        @Html.Display("Name")
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="EmailAddr" class="col-sm-3 col-form-label labelSize"></label>
                    <div class="col-sm-9 form-control-plaintext displaySize">
                        @Html.Display("EmailAddr")
                    </div>
                </div>

                <div class="form-group row">
                    <label asp-for="DOB"
                           class="col-sm-3 col-form-label labelSize"></label>
                    <div class="col-sm-9 form-control-plaintext displaySize">
                        @Html.Display("DOB")
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="PhoneNum" class="col-sm-3 col-form-label labelSize"></label>
                    <div class="col-sm-9 form-control-plaintext displaySize">
                        @Html.Display("PhoneNum")
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Address" class="col-sm-3 col-form-label labelSize"></label>
                    <div class="col-sm-9 form-control-plaintext displaySize">
                        @Html.Display("Address")
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="MedicalHistory" class="col-sm-3 col-form-label labelSize"></label>
                    <div class="col-sm-9 form-control-plaintext displaySize">
                        @Html.Display("MedicalHistory")
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Dietary" class="col-sm-3 col-form-label labelSize"></label>
                    <div class="col-sm-9 form-control-plaintext displaySize">
                        @Html.Display("Dietary")
                    </div>
                </div>
                <div class="form-group row">
                    <label asp-for="Gender" class="col-sm-3 col-form-label labelSize"></label>
                    <div class="col-sm-9 form-control-plaintext displaySize">
                        @{
                            string gender;
                            if (Html.ViewData.Model.Gender == "M")
                            {
                                gender = "Male";
                            }
                            else
                            {
                                gender = "Female";
                            }
                        }
                        @gender
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</body>
</html>
